<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <meta name="author" content="Kaio Dias">

    <link rel="icon" href="../images/logo.png" type="image/x-icon" style="border-radius: 50%;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Lux Style</title>
</head>

<body>
    <div class="dashboardContent">
        <div class="menu-lateral">
            <div class="logo-menu">
                <img src="../images/logo.png" alt="logo">
            </div>
            <div class="menu-lateral-content">
                <div class="menuitem">
                    <a href="#">
                        <h3>Dashboard</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>Relatórios</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>Vendas</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>Funcionários</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>Produtos</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>LogOut</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboardMain">
            <h1>Dashboard The Lux</h1>

            <div class="filtro-data">
                <input type="date" name="filtro" id="dataInicio">
                <input type="date" name="filtro" id="dataFim">
            </div>

            <div class="indicesFinanceiros">
                <div class="indice-content">
                    <div class="indice-icon i1">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Título Índice</span>
                            <h3>R$ 10000,00</h3>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indice-content">
                    <div class="indice-icon i2">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Título Índice</span>
                            <h3>R$ 10000,00</h3>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indice-content">
                    <div class="indice-icon i3">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Título Índice</span>
                            <h3>R$ 10000,00</h3>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tabelaVendas">
                <h2>Vendas Recentes</h2>
                <table> 
                    <thead>
                     <tr>
                       <th>Cliente</th>
                       <th>Total</th>
                       <th>Data Venda</th>
                       <th>Status</th>
                     </tr>
                    </thead>
                     <tbody id="tbody1">
                        <tr>
                          <td>Mini USB</td>
                          <td>4563</td>
                          <td>Due</td>
                          <td class="warning">Pending</td>
                          <td class="primary">Details</td>
                        </tr>
                        <tr>
                         <td>Mini USB</td>
                         <td>4563</td>
                         <td>Due</td>
                         <td class="warning">Pending</td>
                         <td class="primary">Details</td>
                       </tr>
                       <tr>
                         <td>Mini USB</td>
                         <td>4563</td>
                         <td>Due</td>
                         <td class="warning">Pending</td>
                         <td class="primary">Details</td>
                       </tr>
                       <tr>
                         <td>Mini USB</td>
                         <td>4563</td>
                         <td>Due</td>
                         <td class="warning">Pending</td>
                         <td class="primary">Details</td>
                       </tr>
                     </tbody>
                </table>
             </div>
        </div>
        <div class="dashboardDireita">
            <div class="perfil-content">
                <div class="perfil-info">
                    <span class="nome">Kaio Dias</span>
                    <p class="cargo">Administrador</p>
                </div>
                <a href="#" class="perfil-image">
                    <img src="../images/fotoPerfil.jpg" alt="perfil">
                </a>
            </div>
            <div class="pfc">
                <h3>Cadastrados</h2>
                <div class="pfc-content">
                    <img src="../images/produto.png" alt="produto">
                    <span> 1200 Produtos cadastrados</span>
                </div>
                <div class="pfc-content">
                    <img src="../images/funcionarios.png" alt="produto">
                    <span> 40 Funcionarios cadastrados</span>
                </div>
                <div class="pfc-content">
                    <img src="../images/funcionarios.png" alt="produto">
                    <span> 1000 Clientes cadastrados</span>
                </div>
            </div>
            <div class="indiceVendas">
                <h3>Índices de Vendas</h2>
                <div class="indice-item">
                    <img src="../images/crescimento.png" alt="">
                    <span>50000 Vendas Concluídas</span>
                </div>

                <div class="indice-item">
                    <img src="../images/devolvidas.png" alt="">
                    <span>50000 Vendas Reembolsadas</span>
                </div>

                <div class="indice-item">
                    <img src="../images/canceladas.png" alt="">
                    <span>50000 Vendas Canceladas</span>
                </div>
            </div>
        </div>
    </div>
<!-- vendas reembolsadas, concluidas e canceladas -->
</body>
<script src="./dashboard.mjs"></script>

</html>