<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <meta name="author" content="Kaio Dias">

    <link rel="icon" href="../images/logo.png" type="image/x-icon" style="border-radius: 50%;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Lux Style</title>
</head>

<body>
    <div class="dashboardContent">
        <div class="menu-lateral">
            <div class="logo-menu">
                <a href="../index.html"><img src="../images/logoPreto.png" alt="logo"></a>
            </div>
            <div class="menu-lateral-content">
                <div class="menuitem">
                    <a href="./dashboard.html">
                        <h3>Dashboard</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Venda/venda.html">
                        <h3>Vendas</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Funcionario/funcionarios.html">
                        <h3>Funcionários</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Produto/produtos.html">
                        <h3>Produtos</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>LogOut</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboardMain">
            <h1>Dashboard The Lux</h1>
            <div class="filtro-data">
                <input type="date" name="filtro" id="dataInicio">
                <input type="date" name="filtro" id="dataFim">
                <button id="btnFiltro">Filtrar</button>
            </div>
            <h2>Dados Gerais</h2>
            <div class="indicesFinanceiros">
                <div class="indice-content">
                    <div class="indice-icon i1">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Lucro Bruto</span>
                            <h3 id="indiceBruto"></h3>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indice-content">
                    <div class="indice-icon i2">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Lucro Líquido</span>
                            <h3 id="indiceLiquido"></h3>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indice-content despesa">
                    <div class="indice-icon i3">
                        <img src="../images/crescimento.png" alt="">
                    </div>
                    <div class="indice">
                        <div>
                            <span>Despesas Totais</span>
                            <h3 id="indiceDespesa"></h3>
                            <div id="cardDespesa" class="card-despesa oculto">
                                <p id="custoMt"></p>
                                <p id="custoMte"></p>
                                <p id="folhaPag"></p>
                            </div>
                        </div>
                        <div class="progresso">
                            <div class="chart-container">
                                <canvas id="doughnutChart3"></canvas>
                            </div>
                        </div>
                    </div>
                    <span>*exibe detalhes</span>
                </div>
            </div>

            <div class="tabela">
                <h2>Vendas Recentes</h2>
                <div class="scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Total</th>
                                <th>Data Venda</th>
                                <th>Payment Intent</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboardDireita">
            <div class="perfil-content">
                <div class="perfil-info">
                    <span class="nome">Kaio Dias</span>
                    <p class="cargo">Administrador</p>
                </div>
                <a href="#" class="perfil-image">
                    <img src="../images/fotoPerfil.jpg" alt="perfil">
                </a>
            </div>
            <div class="pfc">
                <h3>Cadastrados</h2>
                    <div class="pfc-content">
                        <img src="../images/produto.png" alt="produto">
                        <span id="pfcProd"></span>
                    </div>
                    <div class="pfc-content">
                        <img src="../images/funcionarios.png" alt="funcionarios">
                        <span id="pfcFunc"></span>
                    </div>
                    <div class="pfc-content">
                        <img src="../images/funcionarios.png" alt="clientes">
                        <span id="pfcCli"></span>
                    </div>
            </div>
            <div class="indiceVendas">
                <h3>Índices de Vendas</h2>
                    <div class="indice-item">
                        <img src="../images/crescimento.png" alt="concluidas" class="imgConcluidas">
                        <span id="concluidas"></span>
                    </div>

                    <div class="indice-item">
                        <img src="../images/devolvidas.png" alt="reembolsadas" class="imgReembolsadas">
                        <span id="reembolsadas"></span>
                    </div>

                    <div class="indice-item">
                        <img src="../images/canceladas.png" alt="canceladas" class="imgCanceladas">
                        <span id="canceladas"></span>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="./manipula_interface_dashboard.mjs" type="module"></script>
<script type="module" src="../Venda/manipula_interface_venda.mjs"></script>
<script type="module" src="../utils/calculaRegistro.mjs"></script>

</html>