<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <meta name="author" content="Kaio Dias">

    <link rel="icon" href="../images/logo.png" type="image/x-icon" style="border-radius: 50%;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Lux Style</title>
</head>

<body>
    <div class="dashboardContent">
        <div class="menu-lateral">
            <div class="logo-menu">
                <a href="../index.html"><img src="../images/logoPreto.png" alt="logo"></a>
            </div>
            <div class="menu-lateral-content">
                <div class="menuitem">
                    <a href="../Dashboard/dashboard.html">
                        <h3>Dashboard</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="./venda.html">
                        <h3>Vendas</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Funcionario/funcionarios.html">
                        <h3>Funcionários</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Produto/produtos.html">
                        <h3>Produtos</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>LogOut</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboardMain">
            <h1>Vendas</h1>
            <h2>Dados de Vendas</h2>
            <div class="grafico">
                <div class="filtro-data">
                    <input type="date" name="filtro" id="dataInicio">
                    <input type="date" name="filtro" id="dataFim">
                    <button id="btnFiltro">Filtrar</button>
                </div>
                <canvas id="grafico1" width="800" height="230"></canvas>
            </div>
            <div class="tabela">
                <h2>Vendas Recentes</h2>
                <div class="scrollSmall">
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Total</th>
                                <th>Data Venda</th>
                                <th>Payment Intent</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboardDireita">
            <div class="perfil-content">
                <div class="perfil-info">
                    <span class="Total">Kaio Dias</span>
                    <p class="cargo">Administrador</p>
                </div>
                <a href="#" class="perfil-image">
                    <img src="../images/fotoPerfil.jpg" alt="perfil">
                </a>
            </div>
            <div class="indiceVendas">
                <h3>Dados</h2>
                <div class="indice-item">
                    <img src="../images/crescimento.png" alt="vendasConcluidas" class="imgConcluidas">
                    <span id="concluidas"></span>
                </div>

                <div class="indice-item">
                    <img src="../images/devolvidas.png" alt="vendasReembolsadas" class="imgReembolsadas">
                    <span id="reembolsadas"></span>
                </div>

                <div class="indice-item">
                    <img src="../images/canceladas.png" alt="vendasCanceladas" class="imgCanceladas">
                    <span id="canceladas"></span>
                </div>
            </div>
            <div class="pfc">
                <h3>Cadastrados</h2>
                <div class="pfc-content">
                    <img src="../images/produto.png" alt="produto">
                    <span id="pfcProd"></span>
                </div>
                <div class="pfc-content">
                    <img src="../images/funcionarios.png" alt="funcionarios">
                    <span id="pfcFunc"></span>
                </div>
                <div class="pfc-content">
                    <img src="../images/funcionarios.png" alt="clientes">
                    <span id="pfcCli"></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./manipula_interface_venda.mjs" type="module"></script>
<script type="module" src="../utils/calculaRegistro.mjs"></script>

</html>