<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <meta name="author" content="Kaio Dias">

    <link rel="icon" href="../images/logo.png" type="image/x-icon" style="border-radius: 50%;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>The Lux Style</title>
</head>

<body>
    <div class="dashboardContent">
        <div class="menu-lateral">
            <div class="logo-menu">
                <a href="../index.html"><img src="../images/logoPreto.png" alt="logo"></a>
            </div>
            <div class="menu-lateral-content">
                <div class="menuitem">
                    <a href="../Dashboard/dashboard.html">
                        <h3>Dashboard</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Venda/venda.html">
                        <h3>Vendas</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="../Funcionario/funcionarios.html">
                        <h3>Funcionários</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="./produtos.html">
                        <h3>Produtos</h3>
                    </a>
                </div>
                <div class="menuitem">
                    <a href="#">
                        <h3>LogOut</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="dashboardMain">
            <h1>Produtos</h1>
            <h2>Cadastro</h2>
            <div class="cadastro">
                <form class="dados-cadastro">
                    <input type="hidden" name="id" id="id">
                    <div class="separa">
                        <div class="dado">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome">
                        </div>
                        <div class="dado">
                            <label for="descricao">Descricao</label>
                            <input type="text" name="descricao" id="descricao">
                        </div>
                        <div class="dado">
                            <label for="preco">Preco</label>
                            <input type="text" name="preco" id="preco">
                        </div>
                        <div class="dado">
                            <label for="rate">Rate</label>
                            <input type="text" name="rate" id="rate">
                        </div>
                    </div>
                    <div class="separa">
                        <div class="dado">
                            <label for="imgUrl">Url Imagem</label>
                            <input type="file" name="image_url" id="image_url">
                            <span>Selecione da pasta "../views/Images"</span>
                        </div>

                        <div class="dado">
                            <label for="quantidade">Quantidade</label>
                            <input type="text" name="quantidade" id="quantidade">
                        </div>
                        <div>
                            <button class="btnCadastrar" id="btnCadastrar">Cadastrar</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="tabela">
                <h2>Lista de Produtos</h2>
                <div class="scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Preco</th>
                                <th>Rate</th>
                                <th>Url Imagem</th>
                                <th>Quantidade</th>
                            </tr>
                        </thead>
                        <tbody id="tbody1">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboardDireita">
            <div class="perfil-content">
                <div class="perfil-info">
                    <span class="nome">Kaio Dias</span>
                    <p class="cargo">Administrador</p>
                </div>
                <a href="#" class="perfil-image">
                    <img src="../images/fotoPerfil.jpg" alt="perfil">
                </a>
            </div>
            <div class="pfc">
                <h3>Cadastrados</h2>
                    <div class="pfc-content">
                        <img src="../images/produto.png" alt="produto">
                        <span id="pfcProd"> 1200 Produtos cadastrados</span>
                    </div>
                    <div class="pfc-content">
                        <img src="../images/funcionarios.png" alt="funcionarios">
                        <span id="pfcFunc"> 40 Funcionarios cadastrados</span>
                    </div>
                    <div class="pfc-content">
                        <img src="../images/funcionarios.png" alt="clientes">
                        <span id="pfcCli"> 1000 Clientes cadastrados</span>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="./manipula_interface_produto.mjs" type="module"></script>
<script type="module" src="../utils/calculaRegistro.mjs"></script>

</html>